.container {
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      margin: 0;
    }
  }
}

:host ::ng-deep {
  .p-datatable {
    .p-datatable-header {
      background: transparent;
      border: none;
      padding: 0;
    }

    th {
      background: var(--surface-section);
    }
  }
}
