<form [formGroup]="messageForm">
  <textarea
    class="textarea"
    id="message"
    rows="5"
    placeholder="GPT message..."
    pInputTextarea
    formControlName="message"
  >
  </textarea>

  <p-button
    class="button"
    [icon]="loading ? 'pi pi-times' : 'pi pi-send'"
    [disabled]="(!messageForm.valid || !assistantId) && !loading"
    (click)="onSubmit()"
    [styleClass]="loading ? 'p-button-danger p-button-rounded p-button-outlined' : 'p-button-secondary p-button-rounded p-button-outlined'"
  />
</form>
