<aside>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <div class="top-pane">
    <p-tree
      [value]="treeData"
      selectionMode="single"
      [(selection)]="selectedNode"
      (onNodeSelect)="onNodeSelect($event)"
      styleClass="object-tree"
    >
      <ng-template pTemplate="default" let-node>
        <div class="tree-node">
          <span>{{ node.label }}</span>
          @if (node.data?.type && node.data?.type !== 'item') {
            <button pButton 
                    type="button" 
                    icon="pi pi-times" 
                    class="p-button-rounded p-button-danger p-button-text" 
                    (click)="confirmClearType(node.data.type, node.label, node.data?.id)">
            </button>
          }
        </div>
      </ng-template>
    </p-tree>
  </div>
  <div class="bottom-pane">
    @if (selectedObject) {
      <p-panel [header]="selectedNode?.label || 'Details'">
        @if (selectedObject.createdAt) {
          <div class="timestamp">
            {{ selectedObject.createdAt | date:'medium' }} ({{ selectedObject.createdAt | timeAgo }})
          </div>
        }
        @switch (selectedNode?.data?.type) {
          @case ('outlines') {
            <div class="scrollable-content">
              <div class="pre-container">
                <pre>{{ selectedObject | prettyJson }}</pre>
                <button pButton 
                        type="button" 
                        icon="pi pi-copy" 
                        class="p-button-rounded p-button-text copy-button"
                        (click)="copyToClipboard(selectedObject)">
                </button>
              </div>
            </div>
          }
          @case ('scripts') {
            <div class="scrollable-content">
              <div class="pre-container">
                <pre>{{ selectedObject.content }}</pre>
                <button pButton 
                        type="button" 
                        icon="pi pi-copy" 
                        class="p-button-rounded p-button-text copy-button"
                        (click)="copyToClipboard(selectedObject.content)">
                </button>
              </div>
            </div>
          }
          @case ('pictoryRequests') {
            <div class="scrollable-content">
              <div class="pre-container">
                <pre>{{ selectedObject | prettyJson }}</pre>
                <button pButton 
                        type="button" 
                        icon="pi pi-copy" 
                        class="p-button-rounded p-button-text copy-button"
                        (click)="copyToClipboard(selectedObject)">
                </button>
              </div>
            </div>
          }
          @case ('pictoryRenders') {
            <div class="scrollable-content">
              @if (selectedObject.thumbnail) {
                <div class="preview-image">
                  <img [src]="selectedObject.thumbnail" alt="Thumbnail">
                </div>
              }
              <div class="pre-container">
                <pre>{{ selectedObject | prettyJson }}</pre>
                <button pButton 
                        type="button" 
                        icon="pi pi-copy" 
                        class="p-button-rounded p-button-text copy-button"
                        (click)="copyToClipboard(selectedObject)">
                </button>
              </div>
            </div>
          }
          @case ('videos') {
            <div class="scrollable-content">
              <div class="video-preview">
                <video controls>
                  <source [src]="selectedObject.file" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="pre-container">
                <pre>{{ selectedObject | prettyJson }}</pre>
                <button pButton 
                        type="button" 
                        icon="pi pi-copy" 
                        class="p-button-rounded p-button-text copy-button"
                        (click)="copyToClipboard(selectedObject)">
                </button>
              </div>
            </div>
          }
        }
      </p-panel>
    } @else {
      <div class="empty-state">
        <h3>Click on an object to view details</h3>
      </div>
    }
  </div>
</aside>
